<!--inja-->
{% block content %}
{% load static %}

<div class="nav">
  <ul>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/1">مجلات و نشریات</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/43" title="">مجله دانشگاه/a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/44" title="">كليك جام جم</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/45" title="">PC Gamer </a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/46" title="">PC World</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/47" title=""> مجله گیم لند</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/52" title="">متفرقه</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/2">کامپیوتر و اینترنت</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/9" title=""> آموزش اینترنت</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/10" title="">آموزش سیستم عامل</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/11" title="">آموزش صوتی تصویری</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/12" title=""> آموزش نرم افزار</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/13" title=""> آموزش کامپیوتر</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/14" title="">بازی های رایانه ای</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/15" title=""> برنامه نویسی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/16" title=""> برنامه نویسی وب</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/17" title=""> تجارت الکترونیک</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/18" title="">ترفند</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/19" title="">سخت افزار</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/20" title="">شبکه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/21" title="">طراحی و گرافیک</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/22" title=""> فن آوری اطلاعات</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/23" title=""> هک و امنیت اطلاعات</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/24" title="">وب مستر</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/53" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/76" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/3">کتاب الکترونیکی موبایل</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/54" title="">متفرقه</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/5">مذهبی </a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/36" title="">کتب تفسیری</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/37" title="">کتب روایی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/38" title="">ادیان ومذاهب</a></h3>
        </li>


        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/41" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/48" title="">اهل بیت</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/75" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/6"> زندگینامه</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/50" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/51" title="">زندگی نامه</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/7">اشعار و ادبیات</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/25" title="">دیوان اشعار</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/26" title="">کتابهای صوتی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/27" title=""> اشعار مذهبی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/28" title=""> اشعار طنز</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/56" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/68" title=""> داستان ورمان</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/74" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/8"> تاریخی</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/59" title="">تاریخی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/60" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/73" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>


    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/30">روانشناسی</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/61" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/72" title="">کتاب صوتی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/77" title="">موفقیت</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/78" title="">روانشناسی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/79" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/31">پزشكي وسلامت</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/57" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/71" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/32">كتاب صوتي</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/63" title="">کتاب صوتی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/33">زبانهای خارجي</a></h3>
      <ul>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/67" title="">متفرقه</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/70" title="">کتاب صوتی</a></h3>
        </li>

        <li>
          <h3><a href="http://ketabkhone.rzb.ir/Cat/80" title="">زبان انگلیسی</a></h3>
        </li>

      </ul>
    </li>

    <li>
      <h3><a href="http://ketabkhone.rzb.ir/Cat/35">مقالات علمی</a></h3>
      <ul>

      </ul>
    </li>

  </ul>
</div>

<div class="clear"></div>
<div id="mains">
  <section id="center">






    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/58"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب روش های
              جستجو در گوگل</a></span></h1>
        <div id='rate_58'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:60%"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 561</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(58)" target="_self">
            نظرات (3)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG alt="دانلود کتاب روش های جستجو در گوگل"
              src="http://img.p30download.com/ebook/image/2012/01/1326231859_learning-google-hacking.jpg" width=332
              height=326></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/9" class="cat_post"> آموزش اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/18" class="cat_post">ترفند</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/58">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/57"><i class="fa fa-list-ul fa-2x"></i></a></span></h1>
        <div id='rate_57'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:40%"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 129</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(57)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG style="WIDTH: 370px; HEIGHT: 338px" alt="دانلود کتاب راهنمای Google Plus"
              src="http://img.p30download.com/ebook/image/2012/05/1338123289_amoozesh-google-plus.jpg" width=313
              height=261></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/9" class="cat_post"> آموزش اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/18" class="cat_post">ترفند</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/57">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/56"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب امنیت
              گوگل</a></span></h1>
        <div id='rate_56'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:100%"></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(56,1,1)"
                  class="one-star">1</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(56,2,1)"
                  class="two-stars">2</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(56,3,1)"
                  class="three-stars">3</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(56,4,1)"
                  class="four-stars">4</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(56,5,1)"
                  class="five-stars">5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 269</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(56)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG style="WIDTH: 343px; HEIGHT: 344px" alt="دانلود کتاب امنیت گوگل"
              src="http://img.p30download.com/ebook/image/2012/05/1338462272_google-security-book.jpg" width=352
              height=370></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/9" class="cat_post"> آموزش اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/18" class="cat_post">ترفند</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/56">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/55"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب تاریخ مشروطه
              ایران</a></span></h1>
        <div id='rate_55'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:80%"></li>
              <li><a href="Javascript:" title="نتيجه 4 امتياز توسط 1 نفر مجموع امتيازات 4" onclick="Rate(55,1,1)"
                  class="one-star">1</a></li>
              <li><a href="Javascript:" title="نتيجه 4 امتياز توسط 1 نفر مجموع امتيازات 4" onclick="Rate(55,2,1)"
                  class="two-stars">2</a></li>
              <li><a href="Javascript:" title="نتيجه 4 امتياز توسط 1 نفر مجموع امتيازات 4" onclick="Rate(55,3,1)"
                  class="three-stars">3</a></li>
              <li><a href="Javascript:" title="نتيجه 4 امتياز توسط 1 نفر مجموع امتيازات 4" onclick="Rate(55,4,1)"
                  class="four-stars">4</a></li>
              <li><a href="Javascript:" title="نتيجه 4 امتياز توسط 1 نفر مجموع امتيازات 4" onclick="Rate(55,5,1)"
                  class="five-stars">5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 418</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(55)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG style="WIDTH: 374px; HEIGHT: 346px" alt="دانلود کتاب تاریخ مشروطه ایران"
              src="http://img.p30download.com/ebook/image/2012/03/1332679215_tarikhe-mashroote-iran.jpg" width=370
              height=321></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/8" class="cat_post"> تاریخی</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/59" class="cat_post">تاریخی</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/55">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/54"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب آموزش تایپ
              ده انگشتی</a></span></h1>
        <div id='rate_54'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:20%"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 382</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(54)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG alt="دانلود کتاب آموزش تایپ ده انگشتی"
              src="http://img.p30download.com/ebook/image/2012/04/1333570238_learn-type.jpg" width=349 height=342></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/13" class="cat_post"> آموزش کامپیوتر</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/18" class="cat_post">ترفند</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/54">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/53"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب 20 نکته که
              در مورد وب و مرورگرها یاد گرفتم</a></span></h1>
        <div id='rate_53'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:20%"></li>
              <li><a href="Javascript:" title="نتيجه 1 امتياز توسط 1 نفر مجموع امتيازات 1" onclick="Rate(53,1,1)"
                  class="one-star">1</a></li>
              <li><a href="Javascript:" title="نتيجه 1 امتياز توسط 1 نفر مجموع امتيازات 1" onclick="Rate(53,2,1)"
                  class="two-stars">2</a></li>
              <li><a href="Javascript:" title="نتيجه 1 امتياز توسط 1 نفر مجموع امتيازات 1" onclick="Rate(53,3,1)"
                  class="three-stars">3</a></li>
              <li><a href="Javascript:" title="نتيجه 1 امتياز توسط 1 نفر مجموع امتيازات 1" onclick="Rate(53,4,1)"
                  class="four-stars">4</a></li>
              <li><a href="Javascript:" title="نتيجه 1 امتياز توسط 1 نفر مجموع امتيازات 1" onclick="Rate(53,5,1)"
                  class="five-stars">5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 273</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(53)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG alt="دانلود کتاب 20 نکته که در مورد وب و مرورگرها یاد گرفتم"
              src="http://img.p30download.com/ebook/image/2012/04/1335658499_20-things-i-learned-about-browsers-and-the-web.jpg"
              width=378 height=343></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/9" class="cat_post"> آموزش اینترنت</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/53">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/52"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب افسانه
              خدایان</a></span></h1>
        <div id='rate_52'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:100%"></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(52,1,1)"
                  class="one-star">1</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(52,2,1)"
                  class="two-stars">2</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(52,3,1)"
                  class="three-stars">3</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(52,4,1)"
                  class="four-stars">4</a></li>
              <li><a href="Javascript:" title="نتيجه 5 امتياز توسط 1 نفر مجموع امتيازات 5" onclick="Rate(52,5,1)"
                  class="five-stars">5</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 381</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(52)" target="_self">
            نظرات (0)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG style="WIDTH: 374px; HEIGHT: 337px" alt="دانلود کتاب افسانه خدایان"
              src="http://img.p30download.com/ebook/image/2012/05/1337036004_afsaneye-khodayan.jpg" width=335
              height=315></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/7" class="cat_post">اشعار و ادبیات</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/68" class="cat_post"> داستان ورمان</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/8" class="cat_post"> تاریخی</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/59" class="cat_post">تاریخی</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/52">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/51"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب آموزش مصور
              فتوشاپ سی اس 5</a></span></h1>
        <div id='rate_51'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:80%"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pistbit">
        <span class="line"><i class="fa fa-edit fa-2x"></i><a href="/user-blackhand">blackhand</a> </span>
        <span class="line"> <i class="fa fa-eye fa-2x"></i> بازدید : 777</span>
        <span class="line"><i class="fa fa-calendar fa-2x"></i>پنجشنبه 25 خرداد 1391</span>
        <span class="line"><i class="fa fa-comments fa-2x"></i><a href="javascript:SendComment(51)" target="_self">
            نظرات (1)</a></span>
      </div>
      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG
              alt="دانلود Teach Yourself Visually Adobe Photoshop CS5- کتاب آموزش مصور فتوشاپ سی اس 5"
              src="http://img.p30download.com/ebook/image/2011/12/1324017797_teach-yourself-visually-adobe-photoshop-cs5.jpg"
              width=470 height=322></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/12" class="cat_post"> آموزش نرم افزار</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/21" class="cat_post">طراحی و گرافیک</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/51">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/50"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب آموزش زبان
              برنامه نویسی JavaScript</a></span></h1>
        <div id='rate_50'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
          </div>
        </div>
      </div>

      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG alt="دانلود کتاب آموزش زبان برنامه نویسی JavaScript"
              src="http://img.p30download.com/ebook/image/2011/08/1312496035_learn.java.script.jpg" width=367
              height=327></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/15" class="cat_post"> برنامه نویسی</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/16" class="cat_post"> برنامه نویسی وب</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/50">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>

    <article id="bodys">
      <div id="titlee">
        <h1><span><a href="http://ketabkhone.rzb.ir/post/49"><i class="fa fa-list-ul fa-2x"></i>دانلود کتاب آموزش نرم
              افزار Word 2007</a></span></h1>
        <div id='rate_49'>
          <div class="like_po">



            <script
              type="text/javascript">function Rating() { window.open("", "Rate", "toolbar=0,location=0,status=0,menubar=0,scrollbars=1,resizable=0,width=300,height=100") }</script>
            <ul class="star-rating">
              <li class="current-rating" id="current-rating" style="width:20%"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="bodys_content">

        <div class="post_content">
          <DIV class=post-graphical-image><IMG alt="دانلود کتاب آموزش نرم افزار Word 2007"
              src="http://img.p30download.com/ebook/image/2011/07/1311172374_word2007.jpg" width=389 height=319></DIV>
        </div>


        <div class="more_2">
          <div class="tag_cat"> <i class="fa fa-list fa-2x"></i>
            درباره
            <a href="http://ketabkhone.rzb.ir/Cat/2" class="cat_post">کامپیوتر و اینترنت</a> , <a
              href="http://ketabkhone.rzb.ir/Cat/12" class="cat_post"> آموزش نرم افزار</a> ,

          </div>
          <div class="more"><a href="http://ketabkhone.rzb.ir/post/49">ادامه مطلب ...</a></div>
        </div>

        <div class="clear"></div>
      </div>
    </article>



    <!--inja-->

    {% endblock %}