<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">

<head>
    <title>پیشنمایش قالب Book Library، رزرو آنلاین کتاب |  </title>
    <meta name="description" content="  Book Library، رزرو  کتاب|">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <link href="https://rtlr.ir/assets/images/rtl-theme-favicon.png" rel="shortcut icon">
    <link rel="canonical" href="https://www.rtl-theme.com/book-library-html-template/">

    <link rel="stylesheet" href="https://rtlr.ir/assets/css/styles.css" media="all">

    <script src="https://rtlr.ir/assets/js/jquery.2.2.1.min.js"></script>
    <script src="https://rtlr.ir/assets/js/scripts.js"></script>
</head>

<body>
    <div class="top-bar">
        <div class="logo-col">
            <!--<a href="https://www.rtl-theme.com">-->
                <img src="https://rtlr.ir/assets/images/logo.png" class="logo">
            </a>
        </div>

        <div class="title-col">
            <h1 class="title">:Book Library،:  رزرو کتاب</h1>
        </div>

        <div class="devices-col">
            <div class="devices">
                <div class="icon mobile"></div>
                <div class="icon tablet"></div>
                <div class="icon desktop"></div>
            </div>
        </div>

        <div class="btn-col">
            <!--<a href="https://www.rtl-theme.com/book-library-html-template/" class="buy-btn">-->
                <span class="icon"></span>
                رزرو یا دانلود
            </a>
        </div>

        <div class="close-col">
            <!--<a href="https://atiyehahmadi.ir/book_library/" class="close"></a>-->
        </div>
    </div>

    <div class="showTopBar">
        <img src="https://rtlr.ir/assets/images/arrow-down.svg" alt="Show Top Bar">
    </div>

    <div class="preview desktop">
        <iframe src="https://atiyehahmadi.ir/book_library/" class="screen" id="iframe"></iframe>
    </div>

</body>
